<script src="~/js/resetpass.js"></script>
<h3>Change Password</h3>
<form id="new-password">
    <dl>
        <dt>New Password</dt>
        <dd><input type="password" name="password"/></dd>
    </dl>
    <input type="hidden" name="tokenId" value="@Model.TokenId"/>
    <input type="hidden" name="resetCode" value="@Model.ResetCode"/>
    <div id="new-password-status"></div>
    <input type="submit" value="Change Password">
</form>